/**
 * 06-01　カルーセル
 */
/* カルーセル */
.wrapper-gallery {
	padding: 30px 4.1666666%;/* 4.1666666%（40px/960px） */
}
.gallery {
	padding: 40px 4.5454545%;/* 4.5454545%（40px/880px） */
	background: #000;
	border-radius: 5px;
	line-height: 0;
}
.carousel {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin-top: 30px;
}
.thumbs {
	position: relative;
	left: 0;
	width: 1000px;
}
.thumbs-list {
	float: left;
	font-size: 0;
}
.thumbs-list li {
	display: inline-block;
	margin: 0 1px;
	border: 2px solid #000;
	width: 76px;
	height: 76px;
}

/* ［＜］［＞］ボタン */
.thumbs-nav a {
	display: block;
	position: absolute;
	bottom: 0;
	width: 40px;
	height: 80px;
	background-image: url(../images/thumbnails-nav.png);
}
a.prev {
	left: 0;
	background-position: 0 80px;
}
a.prev:hover {
	background-position: -40px 80px;
}
a.prev:active {
	background-position: -80px 80px;
}
a.next {
	right: 0;
	background-position: 0 0;
}
a.next:hover {
	background-position: -40px 0;
}
a.next:active {
	background-position: -80px 0;
}

/**
 * 06-02　大きな画像を表示する
 */
/* メイン画像のスタイル */
.mainimage {
	position: relative;
	overflow: hidden;
}
.mainimage img {
	max-width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.mainimage img.front {
	position: relative;
}

/**
 * RESPONSIVE: スマートフォン向けウィンドウ幅600px以下
 */
@media screen and (max-width:600px) {
	/* カルーセル */
	.gallery {
		padding: 0;
		background: #fff;
		border-radius: 0;
	}
	.thumbs-list li {
		border: 2px solid #fff;
	}
}