/**
 * 03-01　アコーディオン
 */
/* アコーディオンのデフォルト（閉） */
.accordion > li {
	cursor: pointer;
	margin: 0 0 5px 0;
	padding: 25px 10px;
	border-radius: 5px;
	background-color: #ededed;
	background-image: url(../images/arrow-down.png);
	background-position: bottom center;
	background-repeat: no-repeat;
}
.accordion > li:hover {
	background-color: #ddd;
}
.accordion > li > h2 {
	font-weight: normal;
}
.accordion > li .content {
	display: none;
}
/* アコーディオンが開いたときのスタイル */
.accordion > li.expanded {
	background-color: #ddd;
	background-image: url(../images/arrow-up.png);
}
.accordion > li.expanded > h2 {
	font-weight: bold;
}
.accordion > li.expanded .content {
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
	border-top: solid 1px #fff;
}

/**
 * 03-02　ドロップダウンメニュー
 */
.wrapper-menubar {
	height: 45px;
	position: relative;
}
.menubar {
	position: absolute;
}
.dropdown-menu {
	width: 150px;
}
/* ボタンのスタイル */
.dropdown-menu > a {
	display: block;
	padding: 5px 0 5px 40px;
	background-color: #000;
	background-image: url(../images/arrow-dropdown1.png);
	background-position: 25px 50%;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 0.9em;
}
/* クリックして開くメニューのスタイル */
.dropdown-menu > .items {
	display: none;
	margin: 2px 0 0 0;
	width: 150px;
	position: absolute;
}
.dropdown-menu > .items li a {
	display: block;
	padding: 5px 0;
	background: #a2a2a2;
	color: #fff;
	font-size: 0.9em;
	text-align: center;
}