/**
 * 03-01　アコーディオン
 */
/* アコーディオンのデフォルト（閉） */
.accordion > li {
	cursor: pointer;
	margin: 0 0 5px 0;
	padding: 25px 10px;
	border-radius: 5px;
	background-color: #ededed;
	background-image: url(../images/arrow-down.png);
	background-position: bottom center;
	background-repeat: no-repeat;
}
.accordion > li:hover {
	background-color: #ddd;
}
.accordion > li > h2 {
	font-weight: normal;
}
.accordion > li .content {
	display: none;
}
/* アコーディオンが開いたときのスタイル */
.accordion > li.expanded {
	background-color: #ddd;
	background-image: url(../images/arrow-up.png);
}
.accordion > li.expanded > h2 {
	font-weight: bold;
}
.accordion > li.expanded .content {
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
	border-top: solid 1px #fff;
}

/**
 * 03-02　ドロップダウンメニュー
 */
.wrapper-menubar {
	height: 45px;
	position: relative;
}
.menubar {
	position: absolute;
	right: 4.1666666%; /* 4.1666666%（40px/960px） */
	bottom: 0;
}
.dropdown-menu {
	width: 150px;
}
/* ボタンのスタイル */
.dropdown-menu > a {
	display: block;
	padding: 5px 0 5px 40px;
	background-color: #000;
	background-image: url(../images/arrow-dropdown1.png);
	background-position: 25px 50%;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 0.9em;
	border-radius: 5px;
}
.dropdown-menu > a:hover {
	background-image: url(../images/arrow-dropdown2.png);
	color: #ddd;
}
.dropdown-menu > a:active {
	background-image: url(../images/arrow-dropdown3.png);
	color: #a2a2a2;
}
/* クリックして開くメニューのスタイル */
.dropdown-menu > .items {
	display: none;
	margin: 2px 0 0 0;
	width: 150px;
	position: absolute;
}
.dropdown-menu > .items li a {
	display: block;
	padding: 5px 0;
	background: #a2a2a2;
	color: #fff;
	font-size: 0.9em;
	text-align: center;
}
.dropdown-menu > .items li:first-child a {
	border-radius: 5px 5px 0 0;
}
.dropdown-menu > .items li:last-child a {
	border-radius: 0 0 5px 5px;
}
.dropdown-menu > .items li a:hover {
	background: #bbb;
}
.dropdown-menu > .items li a:active {
	background: #757575;
}

/**
 * RESPONSIVE: スマートフォン向けウィンドウ幅600px以下
 */
@media screen and (max-width:600px) {
	.wrapper-menubar {
		height: 30px;
	}
	.menubar {
		top: 0;
	}
	.dropdown-menu > a {
		border-radius: 0 0 5px 5px;
		font-size: 0.8em;
	}
	.dropdown-menu > .items li a {
		font-size: 0.8em;
	}
}

/**
 * 03-03 CSSを操作するアニメーション
 */
.shortcut li img {
	border-radius: 50%;
}
.first .btn-action img {
	transition: box-shadow 0.6s ease-in-out;
	box-shadow: none;
}
.first .btn-action img.animate {
	box-shadow: 0px 0px 12px 12px rgba(117, 180, 196, 0.50);
}

/**
 * 03-06 スライドショー
 */
/* スライドショー全体のスタイル */
.slide {
	position: relative;
	margin: 0 auto;
	max-width: 960px;
	font-size: 0; /* 画像下の隙間を埋めるため */
}
.slide img {
	max-width: 100%;
}
.slide > .container {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}
/* 写真の配置 */
.slide > .container > li {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 1s linear;
}
.slide > .container > li.current {
	position: relative;
	z-index: 1;
	opacity: 1;
}
/* スライドショーのボタン */
.slide a.prev,
.slide a.next {
	position: absolute;
	display: block;
	top: 45%;
	width: 40px;
	height: 40px;
	text-indent: -5000px;
	z-index: 10; /* ボタンを常に画像より上に配置 */
}
.slide a.prev {
	background: url(../images/arrow-left1.png) 50% 50% no-repeat;
	left: 0;
}
.slide a.prev:hover {
	background: url(../images/arrow-left2.png) 50% 50% no-repeat;
}
.slide a.prev:active {
	background: url(../images/arrow-left3.png) 50% 50% no-repeat;
}
.slide a.next {
	background: url(../images/arrow-right1.png) 50% 50% no-repeat;
	right: 0;
}
.slide a.next:hover {
	background: url(../images/arrow-right2.png) 50% 50% no-repeat;
}
.slide a.next:active {
	background: url(../images/arrow-right3.png) 50% 50% no-repeat;
}

/**
 * RESPONSIVE: スマートフォン向けウィンドウ幅600px以下
 */
@media screen and (max-width:600px) {
	.slide a.prev,
	.slide a.next {
		top: 40%;
	}
}

/**
 * 03-07 Ajaxの基礎
 */
/* 画像とテキストのブロック */
#ajax-list > li {
	overflow: hidden;
	margin: 0 0 20px 0;
}
#ajax-list > li img {
	margin: 0 10px 5px 0;
	float: left;
	border-radius: 5px;
}
/* moreボタン */
.btn {
	text-align: right;
}
a.btn-details {
	display: inline-block;
	padding: 5px 30px 5px 45px;
	border-radius: 5px;
	background-color: #8ac2d0;
	background-image: url(../images/arrow-next.png);
	background-position: 30px 50%;
	background-repeat: no-repeat;
	color: #fff;
}
a:hover.btn-details {
	background-color: #b9d5dc;
}
a:active.btn-details {
	background-color: #75b4c4;
}
a.disabled.btn-details,
a:hover.disabled.btn-details,
a:active.disabled.btn-details
{
	cursor: default;
	background-color: #b9d5dc;
}